<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<form action="#" th:action="@{/process}" th:object="${answer}" method="post">
    <img src="https://res.cloudinary.com/dv2nrlkn5/image/upload/v1563378208/824d1e6dd2e50ec1cb7180dc7f1f92f9_mvwgtn.png" alt="Knight" style="float: right; width: 700px; height: 700px">
<div class="container">
    <br/><br/><br/>
    <p>What is your name : <input type="text" th:field="*{name}"/><br/></p>
    <p>What is your quest : <input type="text" th:field="*{quest}"/><br/></p>

    <div th:switch="${answer.question}">
        <p th:case="1"> What is your Favorite color? : <input type="text" th:field="*{color}"><br/></p>
        <p th:case="2"> What is the airspeed velocity of an unburdened swallow: : <input type="number" th:field="*{burden}"><br/></p>
    </div>

    <input type="submit" value="Answer">
</div>
</form>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>